{
    "extends": "standard",
    "plugins": ["import"],
    "globals": {
        "expect": true,
        "test": true,
        "describe": true,
        "afterEach": true,
        "beforeEach": true
    },
    "rules": {
        "arrow-parens": 0,
        "generator-star-spacing": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-unused-vars": 0,
        "comma-dangle": 0,
        "eol-last": 1
    }
}
